# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Mac system files
.DS_Store

# TensorFlow / model temp files (optional safety)
*.h5
*.keras.tmp